.data-table {
    border-collapse: collapse;
    border: 1px solid black;
}
.data-table thead {
    background-color: #ccc;
}
.data-table td, .data-table th {
    padding: 0.25em 0.5em;
    border: 1px solid black;
}
